{%
    extends "admin/admin_base.html" %}
{% block title %}Manage Tests{% endblock %}
{% block content %}
    <h3>Manage Tests</h3>
    <a href="/admin/tests/create">Create New Test</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Image</th>
                <th>amallar</th>
            </tr>
        </thead>
        <tbody>
            {% for test in tests %}
            <tr>
                <td>{{ test[0] }}</td>
                <td>{{ test[1] }}</td>
                <td><img src="{{ test[3] }}" alt="Test Image" width="100"></td>
                <td>
                    <a href="/admin/tests/{{ test[0] }}/edit">Edit</a>
                    <a href="/admin/tests/{{ test[0] }}/delete">Delete</a>
                    <a href="{{ url_for('admin.add_questions', test_id=test[0]) }}">
                        Add Questions
                    </a>
                    <a href="{{ url_for('admin.view_questions', test_id=test[0]) }}">
                        View Questions
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}